.card {
    background-color: #192a56;
    border-radius: 10px;
    padding: 10px;
    column-gap: 10px;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 0px 7px 0.4px #f5f6fa;
    // grid-template-columns: auto auto;
    color: #f7f1e3;
    cursor: pointer;
    transition: all 0.41s ease-in-out;
    @media screen and (max-width: 470px) {
        flex-direction: column;
    }
    
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 0;
        img {
            transition: all 0.41s ease-in-out;
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .data {
       
        h4{
            margin: 3px 0;
        }
        a{
            color: #7f8fa6;
        }

    }
    &:hover {
        background-color: #f7f1e3;
        color: #40407a;
        img {
            transform: scale(1.0351);
            // box-shadow: 0px 0px 7px 0.4px #40407a;
        }
        box-shadow: none;
    }
} 